.container {
  width: 100%;
  /* height: fit-content; */
  box-sizing: border-box;
  overflow-x: hidden;
  /* overflow: hidden; */
  position: relative;
}
.navbar_content {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}
.menu_content {
  display: flex;
  flex-basis: 40%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.icon_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
}
.collapse_icon {
  display: none;
}
.toggleIcon {
  cursor: pointer;
  display: none;
}
/* .navbar_menu.open {
    transform: translateX(0%);
  } */
@media screen and (max-width: 748px) {
  .menu {
    display: flex;
  }
  .menu.open {
    margin-top: 30px;
    transform: translateX(0%);
    flex-direction: column;
  }
  .menu_content {
    display: none;
  }
  .collapse_icon {
    display: block;
  }
  .menu_icon {
    display: none;
  }
}
