.container {
  width: 100%;
  /* height: fit-content; */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow: hidden;
  position: relative;
  padding: 0px 5px;
  /* background-color: var(--main-bg-color); */
}
.navbar_content {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  color: var(--main-text-color);
}

.menu_content {
  display: flex;
  flex-basis: 40%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.icon_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
}
.collapse_icon {
  display: none;
}
.toggleIcon {
  cursor: pointer;
  display: none;
}
.menu_icon {
  display: flex;
  justify-content: center;
  gap: 20px;
}
/* .navbar_menu.open {
    transform: translateX(0%);
  } */
@media screen and (max-width: 748px) {
  .menu {
    display: flex;
  }

  .menu_content {
    display: block;
    transform: translateX(-260%);
    transform-origin: left;
    transition: transform 800ms ease-in-out;
  }
  .menu_content.open {
    margin-top: 30px;
    transform: translateX(0%);
    flex-direction: column;
    gap: 20px;
  }
  .collapse_icon {
    display: block;
  }
  .menu_icon {
    display: none;
  }
  .menuItem {
    margin-bottom: 10px;
  }
}
